*{
    box-sizing: border-box;
}
body { 
width:100%;
text-align: center;
}
div h1{
    font-family: 'Pacifico', cursive;
    font-style: italic;
    font-size: xx-large;
    text-align: left;
}
#header{
    display: inline-block;
    vertical-align: middle;
    height:60px;
    margin: 0px;
    position: relative;
    right:145px;
    padding:0px;
    margin-bottom:20px;
}
header ul li {   
    display: inline-block;
   vertical-align: middle;
}
header ul {
    float: right; 
    margin-right:30px;
   margin-top:10px;
   position: relative;
   right:280px;
}
.liOne{
    margin-left:15px ;
    margin-right:0px;
}
#logo{
    margin:0px;
    height:60px;
    position: relative;
    right:155px;
    margin-top:10px;
}
main h1{
    font-size:xx-large;
    font-family: 'Anton', sans-serif;
    text-align: left;
    margin-left:310px;
}
nav ul li{
    display: inline-block;
}
#print{
    margin-left:560px;
}
.pOne{
    color:rgb(161, 158, 158)
}
.pTwo{
    color: rgb(82, 81, 81);
    text-align:left;
    margin-left:310px;
   font-size:20px;
   margin-bottom: 20px;
   width:59%;
  
}
#mainPic{
    margin-top:20px;
    margin-bottom :20px;
}
#form div form{
    width:59%;
}
#form div form ul{
 display:inline-block;
}
#form
{
background-image: url("https://github.com/LTUC/amman-201d14/blob/main/class-10/lab-a/lab-assets/list-bg.png?raw=true");
 width :59%;
 height:270px;
 margin-left: 310px;
 font-size:24px;
 font-family: 'Kalam', cursive;
 color:rgb(109, 103, 103);
}
#form div form ul li {
    text-align: left;
}
#formTwo ul{
    /* padding-bottom:700px; */
    /* margin-left:50px; */
    position: relative;
    bottom: 90px;
    left:400px;
}
#formOne{
    position: relative;
  top: 55px;
  right:70px;
}
#form div form ul{
    position: relative;
    margin-right:13px;
}
button{
    background-color: rgb(145, 64, 64);
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    font-size:medium;
    /* float: right; */
    margin-bottom:30px;
    position: relative;
    left: 350px;
    bottom: 90px;

}
button:hover{
    background-color:white ;
    color:rgb(145, 64, 64);
}
footer img{
    text-align: center;
    position: relative;
    overflow: hidden;

}
hr{
    position: relative;
    top: 20px;
}
#v div {
    display: inline-block;
}
#v img{
    position:relative;
    right:400px;
    margin-top: 70px;
}
#v h2 {
    font-size: larger;
    text-align: left;
    position: relative;
    right: 40px;
    bottom:70px;
    font-weight: bold;
    color: gray;
}
#pthree{
    position: relative;
    bottom:50px;
    /* font-family: Arial, sans-serif; */
    right: 45px;
   
}